{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.name }}{% endblock %}

{% block body %}
    {% set user = app.user %}
    {% include 'account/partials/title_section.html.twig' %}

    <div class="container py-5">
        {% include 'account/partials/profile.html.twig' %}

        {% include 'partials/alert.html.twig' %}

        {% include 'account/partials/trick.html.twig' %}

        {% include 'account/partials/like.html.twig' %}
    </div>

    {% include 'account/partials/modal_delete.html.twig' %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/modal_delete.js') }}"></script>
{% endblock %}