<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 text-center">
                <h1 class="font-weight-bold text-white text-shadow">
                    <span class="text-danger">Bienvenue</span>
                    sur le site communautaire
                    <span class="text-primary">SnowTricks</span>
                    !
                </h1>
                <p class="h3 font-weight-bold text-white text-shadow">Le site de référence sur les tricks de snowboard !</p>
            </div>
        </div>
    </div>
    <a href="#trick-section"><i class="fas fa-arrow-circle-down float-right arrow-down text-light"></i></a>
</header>