{% extends 'base.html.twig' %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block body %}
    <div id="section-title" class="container-fluid bg-light py-5 text-center section-title">
        <h2 class="text-primary">
            Récupération du mot de passe
        </h2>
        <p class="font-weight-bold mb-0">Mot de passe oublié !</p>
    </div>

    <div class="container py-5">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">
                    <i class="fas fa-lock text-primary mr-1"></i>
                    Entrez votre nouveau mot de passe
                </h4>
            </div>
            <div class="card-body">
                {{ form_start(form) }}

                {{ form_row(form.password) }}

                <button type="submit" class="btn btn-primary">Valider</button>

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}