<!-- Comments Form -->
<div class="card my-4">
    <h5 class="card-header card-header-sm"><i class="fas fa-comment"></i> Laisser un commentaire :</h5>
    <div class="card-body card-body-sm">
        <form action="" method="post">
            <div class="form-group">
                <textarea class="form-control" rows="5" name="content" id="commentForm"></textarea>
                <div class="invalid-feedback">

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
    </div>
</div>