{# Ma sélection de tricks #}
<div class="card mt-4 shadow">
    <div class="card-header">
        <h4 class="mb-0">
            <i class="fas fa-thumbs-up mr-1 text-primary"></i>
            Ma sélection de tricks
        </h4>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <i class="fas fa-snowboarding text-danger mr-1"></i>
                <a href="">Mon premier trick</a>
                <div class="float-right">
                    <a href="" title="Modifier le trick" class="text-decoration-none mr-2">
                        <i class="fas fa-edit text-primary"></i>
                    </a>
                    <a href="" class="text-danger">
                        Supprimer de la liste
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>