<div id="section-title" class="container-fluid bg-light py-5 text-center section-title">
    <h2 class="text-primary">
        Profil de {{ user.name }}
    </h2>
    <p class="font-weight-bold mb-0">Gestion du compte</p>
</div>