body {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif !important;
}

.navbar-sm {
    display: none;
}

/* Logo Navbar */
.logo {
    height: 30px;
}

.bg-nav {
    background: rgba(0,0,0,0.8);
}

.bg-tricks {
    background-image: url("../images/minimalist-mountains-black-and-white.jpg");
}

.text-shadow {
    text-shadow: 2px 2px #000000;
}

/* Header home */
.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('../images/snowboard_evening_snow_light_trick.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.arrow-down {
    position: relative;
    right: 15px;
    bottom: 120px;
    font-size: 3em;
}

.arrow-up {
    position: relative;
    left: 0px;
    bottom: 80px;
    font-size: 3em;
}

.section-title {
    margin-top: 55px;
}

.section-title-responsive {
    margin-top: 0px;
}

/* Header trick */
.headtricks {
    margin-top: 55px;
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/minimalist-blue-mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.headtricks-responsive {
    margin-top: 0px;
    height: 50vh;
    min-height: 500px;
    background-image: url('../images/minimalist-blue-mountains.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button-trick {
    font-size: 1.4em;
}

.bg-footer {
    background: rgba(0,0,0,0.8);
}

/* SLIDER */
.btn-display {
    display: none !important;
}

.slider {
    margin: auto;
    padding: 20px;
    width: 90%;
}

.slick-slide {
    margin: 0px 20px;
    width: 350px;
}

.slick-slide img {
    width: 100%;
}

.slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
}

.slick-active {
    opacity: .5;
}

.slick-current {
    opacity: 1;
}

.slick-prev:before, .slick-next:before {
    color:gray !important;
}

.slick-prev {
    margin-left: 15px;
}

.slick-next {
    margin-right: 15px;
}
/* END SLIDER */

/** PROFIL  */
.avatar {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-profil {
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.avatar-medium {
    max-width: 64px;
    max-height: 64px;
}

.avatar-mini {
    max-width: 25px;
    max-height: 25px;
    border-radius: 50%;
}

.avatar-micro {
    max-width: 35px;
    max-height: 35px;
}
/** END PROFIL */

/** FORM UPDATE */
.img-update {
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    width: 335px;
    height: 200px;
}
/** END FORM UPDATE */

/** RESPONSIVE */
@media screen and (max-width: 992px) {
    .responsive-details-profile {
        text-align: center;
    }

    .responsive-btn-profile {
        text-align: center;
    }

    .responsive-center {
        text-align: center;
    }

    .responsive-video-form {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .responsive-btn-profile {
        display: flex;
        flex-direction: column;
    }

    .btn-mt {
        margin-top: 8px;
    }
}

@media screen and (max-width: 425px) {
    .slider {
        display: none !important;
    }

    .navbar-medium {
        display: none;
    }

    .navbar-sm {
        display: flex;
        justify-content: center;
    }

    .title-nav {
        display: none !important;
    }

    .fa-bars {
        font-size: 1.5em;
    }

    .nav-btn-style {
        font-size: 1.5em;
    }

    .btn-display {
        display: block !important;
    }

    .responsive-style {
        display: none;
    }

    .responsive-logo-trick {
        display: none;
    }

    .responsive-par {
        display: none;
    }

    .responsive-date-trick {
        display: none;
    }

    .responsive-comment-body {
        padding: 1rem !important;
    }

    .responsive-container-padding {
        padding: 0rem !important;
    }

    footer {
        visibility: hidden;
    }
}

@media screen and (max-width: 375px) {
    .responsive-img-user {
        display: none;
    }
}